# Import Raw Packages

In [24]:
import numpy as np
import pandas as pd

# Data Viz
import plotly.graph_objs as go

In [25]:
# Data Sources
from pandas_datareader import data, wb
import pandas_datareader.data as data

In [26]:
# Convert date in the right format
# Today's date as variable
import datetime
from datetime import date

In [39]:
startdate = datetime.datetime(2022, 1, 1).strftime('%Y-%m-%d')
enddate = datetime.datetime.today().strftime('%Y-%m-%d')

In [40]:
startdate

'2022-01-01'

In [41]:
enddate

'2023-03-21'

## Yahoo Finance

In [45]:
df = data.DataReader("SPY", 'yahoo', startdate, enddate)
df

TypeError: string indices must be integers

## Google Finance

In [50]:
data.DataReader("SPY",'stooq', startdate, enddate)

               Open     High      Low    Close        Volume
Date
2023-03-21  397.240  399.410  395.580  398.860  9.132669e+07
2023-03-20  390.800  394.170  390.070  393.740  9.305578e+07
2023-03-17  393.220  394.400  388.550  389.990  1.405534e+08
2023-03-16  386.820  396.470  386.290  396.110  1.437539e+08
2023-03-15  385.890  389.490  383.710  389.280  1.729969e+08
...             ...      ...      ...      ...           ...
2022-01-07  462.585  463.814  459.322  460.741  8.609941e+07
2022-01-06  462.525  465.420  460.086  462.575  8.786699e+07
2022-01-05  471.688  472.501  462.912  463.011  1.057522e+08
2022-01-04  473.720  474.474  470.121  472.074  7.200478e+07
2022-01-03  470.835  472.372  468.415  472.233  7.351163e+07

[305 rows x 5 columns]

### AlphaVantage API for forex data

In [52]:
# GBP to USD
data.DataReader("BTC/USD", 'av-forex', startdate, enddate, api_key='87HJVKT4AOZ1LYOY')

                                 BTC/USD
From_Currency Code                   BTC
From_Currency Name               Bitcoin
To_Currency Code                     USD
To_Currency Name    United States Dollar
Exchange Rate             28030.06000000
Last Refreshed       2023-03-21 23:13:01
Time Zone                            UTC
Bid Price                 28028.58000000
Ask Price                 28030.06000000

In [ ]:
#