# Import Raw Packages

In [24]:
import numpy as np
import pandas as pd

# Data Viz
import plotly.graph_objs as go

In [25]:
# Data Sources
from pandas_datareader import data, wb
import pandas_datareader.data as data

In [26]:
# Convert date in the right format
# Today's date as variable
import datetime
from datetime import date

In [39]:
startdate = datetime.datetime(2022, 1, 1).strftime('%Y-%m-%d')
enddate = datetime.datetime.today().strftime('%Y-%m-%d')

In [40]:
startdate

'2022-01-01'

In [41]:
enddate

'2023-03-21'

## Yahoo Finance

In [45]:
df = data.DataReader("SPY", 'yahoo', startdate, enddate)
df

TypeError: string indices must be integers

## Google Finance

In [53]:
data.DataReader("AMZN",'stooq', startdate, enddate)

               Open     High      Low    Close    Volume
Date
2023-03-21   98.140  100.845   98.000  100.610  58597275
2023-03-20   98.410   98.480   95.700   97.710  62388911
2023-03-17   99.790  100.660   97.455   98.950  87300242
2023-03-16   95.750  100.990   95.610  100.040  84558934
2023-03-15   93.220   96.670   93.070   96.200  70731792
...             ...      ...      ...      ...       ...
2022-01-07  163.839  165.243  162.031  162.554  46605900
2022-01-06  163.450  164.800  161.937  163.254  51957780
2022-01-05  166.883  167.126  164.357  164.357  64302720
2022-01-04  170.438  171.400  166.349  167.522  70725160
2022-01-03  167.550  170.704  166.160  170.404  63869140

[305 rows x 5 columns]

### AlphaVantage API for forex data

In [54]:
# GBP to USD
data.DataReader("EUR/USD", 'av-forex', startdate, enddate, api_key='87HJVKT4AOZ1LYOY')

                                 EUR/USD
From_Currency Code                   EUR
From_Currency Name                  Euro
To_Currency Code                     USD
To_Currency Name    United States Dollar
Exchange Rate                 1.08506940
Last Refreshed       2023-03-22 18:35:01
Time Zone                            UTC
Bid Price                     1.08503766
Ask Price                     1.08510113

In [ ]:
#